/* 棋盘样式 */
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    /* Add this line to center the board */
    margin-top: 50px;
    /* Adjust the margin-top as needed */
}

/* 棋子样式 */
.piece {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    border: 1px solid black;
    /* Add border for each piece */
}
/* X棋子样式 */
.x-piece {
    color: red;
}

/* O棋子样式 */
.o-piece {
    color: blue;
}

.showwin {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: red;
}

.center-container {
    text-align: center;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-top: 25px;
}