<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@3.0/dist/browser/styles/disqusjs.css">
<script src="https://cdn.jsdelivr.net/npm/disqusjs@3.0/dist/browser/disqusjs.es2015.umd.min.js"></script>

<div id="disqusjs"></div>
<script>
    const disqusjs = new DisqusJS({
    shortname: 'sxiaya',
    siteName: 'sxiaya',
    api: 'https://worker-restless-dream-6c43.wy3370868155.workers.dev/api/',
    apikey: '0rwVLv4kq7ZVPMPXGio2khXqYpWsMMZyFZwkQB8GM5E6KXGbh2R9HRnA7ik6ES51',
    admin: 'disqus_4sgM2ziukw'
    });
    disqusjs.render(document.getElementById('disqusjs'));
    // 你也可以传入一个 CSS 选择器
    // disqusjs.render('#disqusjs');
</script>